{% extends 'base.html.twig' %}

{% block title %}Forum PHP Symfony{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>{{category.name}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Topics</th>
                <th>Author</th>
                <th>Posts</th>
                <th>Last Post</th>
            </tr>
            
        </thead>
        <tbody>
       {% for topic in topics %}
    
            <tr>
              <td><a href="{{ path('topic_section', {'id': topic.id}) }}">{{topic.title}}</a></td>
              <td>{{topic.user.username}}</td>
              <td>{{topic.countedPosts}}</td>  
              <td>2012-12-12 12:12:12</td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('topic_new', {'category_id': category.id}) }}">Create new topic</a>

</div>
{% endblock %}
