{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Forum</h1>
    {{ render(controller('App\\Controller\\SearchController::search'))}}
   
    <table class="table">
        <thead>
            <tr>
                <th>Categories</th>
                <th>Description</th>
                <th>Topics</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_section', {'id': category.id}) }}">{{category.name}}</a></td>
                <td>{{ category.description }}</td>
                <td>{{ category.countedTopics }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ include('home/shoutbox.html.twig') }}
{% endblock %}
