{% extends 'base.html.twig' %}

{% block title %}{{topic.title}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{topic.title}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Author</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                {{topic.user.username}}
                <img src="{{ gravatar(topic.user.email) }}" />

                </td>
                <td>{{topic.message}}</td>  
            </tr>
            <td colspan="2">Responses</td>
            {% for post in posts %}
            <tr>
              <td>
                {{post.user.username}}
                <img src="{{ gravatar(post.user.email) }}" />
              </td>
              
              <td>{{post.message}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No responses</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="history.go(-1);">Back </button>
    <a class="btn btn-primary" href="{{ path('post_new', {'topic_id': topic.id}) }} role='button'">Add Response</a>


</div>
{% endblock %}
